/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label,figure{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#808080;
$color4:#0563bf;
$color5:#f00;
$color6:#f7f7f7;
$color7:#333;
$color8:#d9d9d9;
$color9:#e6e6e6;
$color10:#218ee0;



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%
}


body{
	@include font-size(1.4);
	font-family: "SegoeUIRegular", Arial;
	font-display: swap;

}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


/*** standart classes *****/
p{
	margin: .7rem 0;
}
a{
	color:#020000;
	@include transition-param(color);
}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}


// *:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot') format('embedded-opentype'),
         url('../fonts/CenturyGothic.woff2') format('woff2'),
         url('../fonts/CenturyGothic.woff') format('woff'),
         url('../fonts/CenturyGothic.ttf') format('truetype')
}


@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/CenturyGothicBold.eot');
    src: url('../fonts/CenturyGothicBold.eot') format('embedded-opentype'),
         url('../fonts/CenturyGothicBold.woff2') format('woff2'),
         url('../fonts/CenturyGothicBold.woff') format('woff'),
         url('../fonts/CenturyGothicBold.ttf') format('truetype')
}


/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "SegoeUIItalic"; */
@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


.cg{font-family: 'CenturyGothic';}
.cgb{font-family: 'CenturyGothicBold';}
.bold{
	font-family: "SegoeUIBold";
}
.italic{
	font-family: "SegoeUIItalic";
}



.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}

.flexbox{
	display: flex;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control2 {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}


.more-link,
.add-link{
	color: $color4;
	@extend .tdn;
	&:hover{
		text-decoration: underline;
	}
}

.add-link{
	@extend .italic;
}

/* =header
---------------------------*/
.header{
	@extend .cg;
	.flexbox{
		height: 9.8rem;
	}
	&__nav{
		flex-basis: 50%;
		ul{
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: space-between;
			a{
				text-decoration: none;
				color: $color3;
				&:hover{
					color: $color4;
					border-bottom: 1px dashed $color4;
				}
			}
		}
	}
	&__contacts{
		flex-basis: 33%;
		text-align: center;
		// height: 100%;
		// align-items: center;
		// display: flex;
		// flex-direction: column;
		// justify-content: space-around;
	}

	&__phone{
		@extend .cgb;
		padding-top: 1.8rem;
		padding-bottom: 1rem;
		a{
			@include font-size(3);
			color: $color4;
			text-decoration: none;
			span{
				color: $color3;
			}		
		}
	}

	&__callback{
		color: $color5;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 1px dashed rgba(255,255,255,0);
		&:hover{
			border-bottom: 1px dashed $color5;
		}
	}
	

	/* =qcart */
	&__qcart{
		flex-grow: 1;
		display: flex;
		align-items: center;
	}
	&__qcart-box{
		// background: url(../images/qcart.png) no-repeat left top;
		@include sprite($icon-qcart);
		color: $color2;
		font-style: italic;
		height: 45px;
		padding: 23px 0 0 12px;
		width: 186px;
	}
	&__qcart-link{
		color: inherit;
		text-decoration: none;
		border-bottom: 1px dashed rgba(255,255,255,0);
		&:hover{
			border-bottom: 1px dashed $color2;
		}
	}
	/* =/qcart */
}
/* =/header
---------------------------*/



/* =slider
---------------------------*/
.slider{
	background: $color1;
	height: 500px;
}
/* =/slider
---------------------------*/


/* =delivery
---------------------------*/
.delivery{
	background-color: $color6;
	padding: 2rem 0;

	&__cell{
		padding-left: .8rem;
		padding-right: .8rem;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}

	&__icon{
		text-align: center;
	}

	&__title{
		@extend .bold;
		@include font-size(1.8);
		color: $color4;
		padding-bottom: .7rem;
		padding-top: 2.2rem;
		text-align: center;
		text-transform: uppercase;
	}
	

	&__text{
		line-height: 1.2;
	}

	&__more{
		margin-top: 1.8rem;
	}
}
/* =/delivery
---------------------------*/


/* =products
---------------------------*/
.products{
	&__head{
		@include font-size(2.4);
		@extend .bold;
		color: $color3;
		line-height: 1.3;
		margin: 3.2rem auto 0;
		text-transform: uppercase;
		width: 54%;
		span{
			color: $color4;
		}
	}

	&__tabs{
		@extend .bold;
		margin: 2.6rem 0;
		li{
			display: inline-block;
			margin:0 1.2rem;
			&:not(.button){
				@include font-size(2.4);
				color: $color3;
			}
		}
		.button{
			@include transition;
			border-radius: 2px;
			border: 1px solid $color4;
			color: $color4;
			cursor: pointer;
			padding: .8rem 4.6rem;
			text-transform: uppercase;
			&.current,
			&:hover{
				background-color: $color4;
				color: $color2;
			}
		}
	}

	&__tab{
		justify-content: space-between;
		&__subtitle{

		}
	}

	&__title,
	&__subtitle{
		@include font-size(1.8);
		@extend .bold;
		color: $color4;
	}

	&__pricetitle{
		@include font-size(1.8);
		@extend .bold;
		color: $color3;
		margin: .5rem 0 2rem;
		span{
			@include font-size(2.4);
			color: $color4;
		}
	}

	&__count{
		display: flex;
		justify-content: center;
		margin-top: 2rem;
		$h : 30px;
		.minus,
		.plus{
			@extend .bold;
			@include font-size(3);
			@include transition-param(background-color);
			color: $color4;
			display: block;
			height: $h;
			line-height: .8;
			text-align: center;
			text-decoration: none;
			width: $h;
			&:hover{
				background-color: $color9;
			}
		}
		.form-control{
			@include font-size(1.5);
			@extend .bold;
			color: $color4;
			border: 1px solid $color8;
			height: $h;
			padding: 0;
			text-align: center;
			width: 78px;
		}
	}

	&__price{
		@include font-size(2.4);
		@extend .bold;
		color: $color3;
		margin-top: 1rem;
		span{
			color: $color4;
			@include font-size(3.6);			
		}
	}

	&__submit{
		@extend .italic;
		@include font-size(1.8);
		@include sprite($icon-button-gray);
		background-color: transparent;
		border: none;
		color: $color2;
		cursor: pointer;
		height: 59px;
		margin-top: 1.5rem;
		padding-bottom: 22px;
		width: 218px;
		position: relative;
		span{
			position: relative;
			z-index: 2;
		}
		&:before{
			@extend .before;
			@include sprite($icon-button-orange);
			@include transition;
			background-color: transparent;
			height: 59px;
			left: 0;
			opacity: 0;
			top: 0;
			width: 218px;
			z-index: 1;
		}
		&:hover{
			&:before{
				opacity: 1;
			}
		}
	}


	&__text{
		color: $color7;
		p{
			line-height: 1;
		}
	}
}
/* =/products
---------------------------*/



/* =about
---------------------------*/
.about{
	background: url(../images/about-bg.jpg) no-repeat center top;
	position: relative;
	margin-top: 2rem;
	&:before{
		@extend .before;
		background: #02060f;
		height: 500px;
		width: 100%;
		z-index: -1;
	}
}
/* =/about
---------------------------*/

.owl-carousel{
	.owl-controls{
		position: absolute;
		width: 100%;
		top: 115px;
		.owl-buttons{
			.owl-prev,
			.owl-next{
				background: url(../images/prevnext.png) no-repeat left top;
				width: 65px;
				height: 65px;
				position: absolute;
			}
			.owl-prev{
				left: -110px;
			}
			.owl-next{
				// @include sprite;
				// .rotation(180deg);
				right: -110px;
			}
		}
	}
}
