/* =about
---------------------------*/
.about{
	padding-bottom: 3rem;
	&__head{
		color: $color2;
		height: 18rem;
		align-items: center;
	}
	&__left{
		@extend .bold;
		@include font-size(7.2);
		line-height: 1;
		padding-left: 4rem;
		padding-right: 10rem;
		text-transform: uppercase;
	}
	&__right{
		@include font-size(1.5);
		line-height: 1.8;
		padding-top: 1rem;
		text-transform: uppercase;
	}

	&__content{
		justify-content:space-between;
	}
	&__cell{
		flex-basis: 25%;
	}

	&__pic{
		position: relative;
	}

	&__title{
		$w : 258px;
		bottom: 14px;
		color: $color2;
		height: 4rem;
		left: 4px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		width: $w;
		padding-top: 1rem;
		z-index: 1;
		a{
			color: $color2;
			@extend .tdn;
		}
		&:before{
			@extend .before;
			background-color: $color5;
			height: 100%;
			left: -1px;
			top: 0;
			transform: skew(-10deg);
			width: $w;
			z-index: -1;
		}
	}

	&__text{
		min-height: 14.5rem;
		padding-top: 1.2rem;
		width: 25.7rem;
	}

	&__subtitle{
		@extend .bold;
		@include font-size(1.5);
		color: $color4;
		text-transform: uppercase;
		text-align: center;
	}
}
/* =/about
---------------------------*/


/* =reviews
---------------------------*/
.reviews{
	background: url(../images/reviews-bg-t.gif) repeat-x left top, 
				url(../images/reviews-bg-b.gif) repeat-x left bottom $color6;
	min-height: 430px;
	padding-top: 4.5rem;

	&__title{
		@include font-size(1.5);
		color: $color4;
		margin-bottom: 5.8rem;
		text-align: center;
		text-transform: uppercase;
		strong{
			@extend .bold;
			@include font-size(7.2);
			line-height: 1;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			position: relative;
			top: .7rem;
		}		
	}
	
	&__who{
		color: $color1;
		@extend .bold;
		margin-bottom: 1rem;
	}

	&__add{
		margin-top: 2rem;
	}
}
/* =/reviews
---------------------------*/


/* =info
---------------------------*/
.info{
	&__flexbox{
		justify-content: space-between;
	}

	&__icon,
	&__title{
		text-align: center;
	}

	&__icon{
		margin: 4rem 0 3rem;
	}
	&__title{
		@extend .bold;
		@include font-size(1.8);
		color: $color4;
		text-transform: uppercase;
	}

	&__content{
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}

.info,
.partners{
	&__cell{
		margin-left: .8rem;
		margin-right: .8rem;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}
/* =/info
---------------------------*/


/* =manual
---------------------------*/
.manual{
	background: url(../images/manual-bg-t.png) repeat-x left top, 
				url(../images/manual-bg-b.png) repeat-x left bottom $color4;
	color: $color2;
	padding: 2rem 0;

	&__title,
	&__subtitle{
		text-align: center;
		text-transform: uppercase;
	}
	&__title{
		@include font-size(7.2);
		@extend .bold;
	}
	&__subtitle{
		@include font-size(1.8);
	}

	&__flexbox{
		justify-content: space-between;
		margin-top: 1rem;
	}
	
	&__column{
		flex-basis: 48%;
	}

	&__item{
		margin-top: 2.8rem;
		&-title{
			@include font-size(1.8);
			margin-bottom: 1rem;
			text-transform: uppercase;
		}
		p,
		li{
			line-height: 1.8;
		}
	}

}
/* =/manual
---------------------------*/



/* =partners
---------------------------*/
.partners{
	padding-bottom: 2rem;
	&__flexbox{
		justify-content: space-between;
		padding-top: 6rem; 
	}
	&__cell{

	}

	&__pic{
		height: 9rem;
		text-align: center;		
	}

	&__text{
		padding-bottom: 1rem;
	}
}
/* =/partners
---------------------------*/




/* =qorder
---------------------------*/
.qorder{
	background-color: $color6;
	padding: 2rem 0;
	&__text{
		@include font-size(1.5);
		color: $color3;
		line-height: 1.2;
		text-align: center;
	}

	&__form{
		margin-left: auto;
		margin-right: auto;
		padding-top: 1rem;
		padding-bottom: 2rem;
		width: 104rem;
		&-rowflexbox{
			justify-content: space-between;			
		}
		&-row{
			margin-top: 1rem;
		}
		&-control{
			border: 1px solid $color4;
			padding-left: 1.4rem;
			@extend .italic;
			margin-right: 2rem;
		}

		input.qorder__form-control{
			height: 2.8rem;
			width: 100%;
			padding-top: 0;
			padding-bottom: 0;
			&:last-child{
				margin-right: 0;
			}	
		}
		textarea.qorder__form-control{
			width: 90rem;
			height: 6rem;
		}

		.submit{
			@extend .italic;
			cursor: pointer;
			background-color: $color4;
			border: none;
			color: $color2;
			flex-grow: 1;
			@include transition-param();
			&:hover{
				opacity: .8;
			}
		}

		
		.policy{
			@extend .italic;
			color: $color3;
			a{
				@extend .tdn;
				color: $color4;
			}
		}
	}

	&__title{
		@include font-size(1.5);
		color: $color4;
		text-align: center;
	}
}
/* =/qorder
---------------------------*/


/* =map
---------------------------*/
.map{
	// background-color: #ede6c9;
	height: 435px;
	position: relative;
}


.feedback{
	background-color: rgba(255, 255, 255, .8);
	left: 50%;
	margin-left: -390px;
	position: absolute;
	bottom: 0;
	width: 785px;
	z-index: 999;
	@include font-size(1.5);
	.vcard{
		.name{
			display: none;
		}
		.adr{
			margin-bottom: .5rem;
		}
		.tel{
			text-decoration: none;
			margin-right: .5rem;
		}
		.email{
			margin-left: .5rem;
			@extend .tdn;
			color: $color4;
		}
	}
	.feedback__form{
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 1rem;
		.row{
			@include flexbox;
			@include justify-content(space-between);
			margin-bottom: 1rem;
			input.form-control,
			textarea{
				background-color: $color9;
				border: 1px solid $color9;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}


			input.form-control{
				@extend .italic;
				height: 3rem;
				width: 245px;
				@include font-size(1.4);
				@include placeholder($color1);
			}

			textarea{
				@extend .italic;
				flex: 1;
				overflow: hidden;
				height: 7rem;
				@include placeholder($color1);
			}

			.error{
				border: 1px solid red !important
			}

			.submit{
				@include transition-param();
				@extend .italic;
				border: none;
				color: $color2;
				cursor: pointer;
				margin-left: 1.8rem;
				text-decoration: none;
				text-transform: lowercase;
				width: 12rem;
				background-color: $color10;
				&:hover{
					opacity: .9
				}
			}
		}
	}
}
/* =/map
---------------------------*/


.works{
	position: relative;
	padding-bottom: 2rem;
	.works__title{
		@extend .bold;
		@include font-size(2.4);
		color: $color4;
		padding: 2rem 0 0;
		text-align: center;
	}
	&:after{
		@extend .before;
		border-bottom: 1px solid #d5d5d5;
		left: 50%;
		width: 30%;
		margin-left: -15%;
		bottom: 0;
	}
}


.share{
	padding-top: 3.5rem;
	padding-bottom: 3.8rem;
}



/* =footer
---------------------------*/
footer{
	background-color: $color9;
	padding: 1rem 0;
	font-style: italic;
	@extend .cg;
	.flexbox{
		justify-content: space-between;
	}
}

.footer{
	&__menu{
		display: flex;
		align-items: center;
		// padding-top: 2rem;
		ul{
			padding-right: 3rem;
			li{
				margin-top: .8rem;
				a{
					color: $color3;
					@extend .tdn;
					&:hover{
						color: $color4;
					}
				}
			}
		}
	}

	&__center{
		a{
			@extend .tdn;
			color: $color4;
		}
	}

	&__right{
		a{
			@extend .tdn;
			color: $color4;
		}
	}

	&__social{
		// font-family: 'CenturyGothicBold';
		color: $color3;
		font-style: normal;
		font-weight: bold;
		padding-top: 1rem;
		&-icons{
			padding-top: 1rem;
			a{
				opacity: .5;
				@include transition-param;
				&:hover{
					opacity: 1;
				}
			}
		}
	}

	&__kreotif{
		padding-top: 2.5rem;
	}
}
/* =/footer
---------------------------*/