// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-button-gray-name: 'icon-button-gray';
$icon-button-gray-x: 0px;
$icon-button-gray-y: 122px;
$icon-button-gray-offset-x: 0px;
$icon-button-gray-offset-y: -122px;
$icon-button-gray-width: 218px;
$icon-button-gray-height: 59px;
$icon-button-gray-total-width: 404px;
$icon-button-gray-total-height: 181px;
$icon-button-gray-image: '../images/sprite.png';
$icon-button-gray: (0px, 122px, 0px, -122px, 218px, 59px, 404px, 181px, '../images/sprite.png', 'icon-button-gray', );
$icon-button-orange-name: 'icon-button-orange';
$icon-button-orange-x: 0px;
$icon-button-orange-y: 0px;
$icon-button-orange-offset-x: 0px;
$icon-button-orange-offset-y: 0px;
$icon-button-orange-width: 218px;
$icon-button-orange-height: 61px;
$icon-button-orange-total-width: 404px;
$icon-button-orange-total-height: 181px;
$icon-button-orange-image: '../images/sprite.png';
$icon-button-orange: (0px, 0px, 0px, 0px, 218px, 61px, 404px, 181px, '../images/sprite.png', 'icon-button-orange', );
$icon-button-red-name: 'icon-button-red';
$icon-button-red-x: 0px;
$icon-button-red-y: 61px;
$icon-button-red-offset-x: 0px;
$icon-button-red-offset-y: -61px;
$icon-button-red-width: 218px;
$icon-button-red-height: 61px;
$icon-button-red-total-width: 404px;
$icon-button-red-total-height: 181px;
$icon-button-red-image: '../images/sprite.png';
$icon-button-red: (0px, 61px, 0px, -61px, 218px, 61px, 404px, 181px, '../images/sprite.png', 'icon-button-red', );
$icon-qcart-name: 'icon-qcart';
$icon-qcart-x: 218px;
$icon-qcart-y: 0px;
$icon-qcart-offset-x: -218px;
$icon-qcart-offset-y: 0px;
$icon-qcart-width: 186px;
$icon-qcart-height: 45px;
$icon-qcart-total-width: 404px;
$icon-qcart-total-height: 181px;
$icon-qcart-image: '../images/sprite.png';
$icon-qcart: (218px, 0px, -218px, 0px, 186px, 45px, 404px, 181px, '../images/sprite.png', 'icon-qcart', );
$spritesheet-width: 404px;
$spritesheet-height: 181px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-button-gray, $icon-button-orange, $icon-button-red, $icon-qcart, );
$spritesheet: (404px, 181px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
