@charset "UTF-8";
.container,
.outer-container,
.container-md {
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 767px) {
  .container,
  .outer-container,
  .container-md {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 768px) {
  .outer-container,
  .container,
  .container-md {
    width: 730px; } }

@media (min-width: 992px) {
  .outer-container,
  .container {
    width: 940px; }
  .container-md {
    width: 750px; } }

@media (min-width: 1150px) {
  .outer-container {
    width: 1100px; }
  .container {
    width: 1050px; }
  .container-md {
    width: 900px; } }

@media (min-width: 1250px) {
  .container {
    width: 1260px; } }

/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label, figure {
  margin: 0;
  padding: 0;
  border: 0; }

header, section, footer, aside, nav, article {
  display: block; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "SegoeUIRegular", Arial;
  font-display: swap; }

html, body {
  height: 100%; }

*:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*** standart classes *****/
p {
  margin: .7rem 0; }

a {
  color: #020000;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.6rem; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@font-face {
  font-family: 'CenturyGothic';
  src: url("../fonts/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.eot") format("embedded-opentype"), url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype"); }

@font-face {
  font-family: 'CenturyGothicBold';
  src: url("../fonts/CenturyGothicBold.eot");
  src: url("../fonts/CenturyGothicBold.eot") format("embedded-opentype"), url("../fonts/CenturyGothicBold.woff2") format("woff2"), url("../fonts/CenturyGothicBold.woff") format("woff"), url("../fonts/CenturyGothicBold.ttf") format("truetype"); }

/* font-family: "SegoeUIRegular"; */
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SegoeUIBold"; */
@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SegoeUIItalic"; */
@font-face {
  font-family: "SegoeUIItalic";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.cg, .header, footer {
  font-family: 'CenturyGothic'; }

.cgb, .header__phone {
  font-family: 'CenturyGothicBold'; }

.bold, .visual, .delivery__title, .products__head, .products__tabs, .products__title, .products__subtitle, .products__pricetitle, .products__count .minus,
.products__count .plus, .products__count .form-control, .products__price, .about__left, .about__subtitle, .reviews__title strong, .reviews__who, .info__title, .manual__title, .works .works__title, .addreview .submit {
  font-family: "SegoeUIBold"; }

.italic, .add-link, .visual__button, .products__submit, .qorder__form-control, .qorder__form .submit, .qorder__form .policy, .feedback__form .row input.form-control, .feedback__form .row textarea, .feedback__form .row .submit, .modal-dialog .title, .close-modal, #callback form, #callback form .flexbox .form-control, #callback form .flexbox .submit, #about .modal__content {
  font-family: "SegoeUIItalic"; }

.tdn, .more-link,
.add-link, .about__title a, .qorder__form .policy a, .feedback .vcard .email, .footer__menu ul li a, .footer__center a, .footer__right a, #callback form .policy a {
  text-decoration: none; }
  .tdn:hover, .more-link:hover,
  .add-link:hover, .about__title a:hover, .qorder__form .policy a:hover, .feedback .vcard .email:hover, .footer__menu ul li a:hover, .footer__center a:hover, .footer__right a:hover, #callback form .policy a:hover {
    text-decoration: underline; }

.tdu {
  text-decoration: underline; }
  .tdu:hover {
    text-decoration: none; }

.flexbox {
  display: flex; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.before, .products__submit:before, .about:before, .about__title:before, .reviews__item:before, .reviews__item:after, .works:after {
  content: "";
  display: block;
  position: absolute; }

.form-control2 {
  border: 1px solid #808080;
  border-radius: 0;
  margin-top: 0.6rem;
  font-size: 16px; }
  .form-control2:focus, .form-control2:active {
    border-color: #f00;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3); }

.more-link,
.add-link {
  color: #0563bf; }
  .more-link:hover,
  .add-link:hover {
    text-decoration: underline; }

/* =header
---------------------------*/
.header {
  /* =qcart */
  /* =/qcart */ }
  .header .flexbox {
    height: 9.8rem; }
  .header__nav {
    flex-basis: 50%; }
    .header__nav ul {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between; }
      .header__nav ul a {
        text-decoration: none;
        color: #808080; }
        .header__nav ul a:hover {
          color: #0563bf;
          border-bottom: 1px dashed #0563bf; }
  .header__contacts {
    flex-basis: 33%;
    text-align: center; }
  .header__phone {
    padding-top: 1.8rem;
    padding-bottom: 1rem; }
    .header__phone a {
      font-size: 30px;
      font-size: 3rem;
      color: #0563bf;
      text-decoration: none; }
      .header__phone a span {
        color: #808080; }
  .header__callback {
    color: #f00;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dashed rgba(255, 255, 255, 0); }
    .header__callback:hover {
      border-bottom: 1px dashed #f00; }
  .header__qcart {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .header__qcart-box {
    background-image: url(../images/sprite.png);
    background-position: -218px 0px;
    width: 186px;
    height: 45px;
    color: #fff;
    font-style: italic;
    height: 45px;
    padding: 23px 0 0 12px;
    width: 186px; }
  .header__qcart-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed rgba(255, 255, 255, 0); }
    .header__qcart-link:hover {
      border-bottom: 1px dashed #fff; }

/* =/header
---------------------------*/
/* =visual
---------------------------*/
.visual {
  background: url(../images/visual.jpg) no-repeat center top #02060f;
  height: 500px;
  color: #fff;
  font-size: 24px;
  font-size: 2.4rem; }
  .visual .container {
    position: relative;
    text-transform: uppercase; }
  .visual__label {
    left: 419px;
    position: absolute;
    top: 231px; }
  .visual__title {
    font-size: 72px;
    font-size: 7.2rem;
    position: absolute;
    top: 140px;
    right: 193px; }
  .visual__desc {
    position: absolute;
    right: 50px;
    top: 50px; }
  .visual__slogan {
    right: 10px;
    top: 338px;
    position: absolute; }
  .visual__button {
    font-size: 18px;
    font-size: 1.8rem;
    background-image: url(../images/sprite.png);
    background-position: 0px -61px;
    width: 218px;
    height: 61px;
    color: #fff;
    display: block;
    padding-top: 6px;
    position: absolute;
    right: 220px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    top: 419px;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }
    .visual__button:hover {
      opacity: .9; }

/* =/visual
---------------------------*/
/* =delivery
---------------------------*/
.delivery {
  background-color: #f7f7f7;
  padding: 2rem 0; }
  .delivery__cell {
    padding-left: .8rem;
    padding-right: .8rem; }
    .delivery__cell:first-child {
      padding-left: 0; }
    .delivery__cell:last-child {
      padding-right: 0; }
  .delivery__icon {
    text-align: center; }
  .delivery__title {
    font-size: 18px;
    font-size: 1.8rem;
    color: #0563bf;
    padding-bottom: .7rem;
    padding-top: 2.2rem;
    text-align: center;
    text-transform: uppercase; }
  .delivery__text {
    line-height: 1.2; }
  .delivery__more {
    margin-top: 1.8rem; }

/* =/delivery
---------------------------*/
.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 115px; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev,
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    background: url(../images/prevnext.png) no-repeat left top;
    width: 65px;
    height: 65px;
    position: absolute; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: -110px; }
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    right: -110px; }

/* =products
---------------------------*/
.products__head {
  font-size: 24px;
  font-size: 2.4rem;
  color: #808080;
  line-height: 1.3;
  margin: 3.2rem auto 0;
  text-transform: uppercase;
  width: 54%; }
  .products__head span {
    color: #0563bf; }

.products__tabs {
  padding: 2.6rem 0 3.1rem; }
  .products__tabs .separator {
    font-size: 24px;
    font-size: 2.4rem;
    color: #808080;
    margin: 0 2.4rem; }
  .products__tabs .button {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 2px;
    border: 1px solid #0563bf;
    color: #0563bf;
    cursor: pointer;
    padding: .8rem 4.6rem;
    text-transform: uppercase;
    text-decoration: none; }
    .products__tabs .button.active, .products__tabs .button:hover {
      background-color: #0563bf;
      color: #fff; }

.products__tab {
  justify-content: space-between; }

.products__two {
  justify-content: center; }
  .products__two .products__tab-cell {
    margin-left: 7.5rem;
    margin-right: 7.5rem; }

.products__title, .products__subtitle {
  font-size: 18px;
  font-size: 1.8rem;
  color: #0563bf; }

.products__pricetitle {
  font-size: 18px;
  font-size: 1.8rem;
  color: #808080;
  margin: .1rem 0 2rem; }
  .products__pricetitle span {
    font-size: 24px;
    font-size: 2.4rem;
    color: #0563bf; }

.products__count {
  display: flex;
  justify-content: center;
  margin-top: 2rem; }
  .products__count .minus,
  .products__count .plus {
    font-size: 30px;
    font-size: 3rem;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    color: #0563bf;
    display: block;
    height: 30px;
    line-height: .8;
    text-align: center;
    text-decoration: none;
    width: 30px; }
    .products__count .minus:hover,
    .products__count .plus:hover {
      background-color: #e6e6e6; }
  .products__count .form-control {
    font-size: 15px;
    font-size: 1.5rem;
    color: #0563bf;
    border: 1px solid #d9d9d9;
    height: 30px;
    padding: 0;
    text-align: center;
    width: 78px; }

.products__price {
  font-size: 24px;
  font-size: 2.4rem;
  color: #808080;
  margin-top: 1rem; }
  .products__price span {
    color: #0563bf;
    font-size: 36px;
    font-size: 3.6rem; }

.products__submit {
  font-size: 18px;
  font-size: 1.8rem;
  background-image: url(../images/sprite.png);
  background-position: 0px -122px;
  width: 218px;
  height: 59px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 59px;
  margin-top: 1.5rem;
  padding-bottom: 22px;
  width: 218px;
  position: relative; }
  .products__submit span {
    position: relative;
    z-index: 2; }
  .products__submit:before {
    background-image: url(../images/sprite.png);
    background-position: 0px 0px;
    width: 218px;
    height: 61px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: transparent;
    height: 59px;
    left: 0;
    opacity: 0;
    top: 0;
    width: 218px;
    z-index: 1; }
  .products__submit-active:before, .products__submit:hover:before {
    opacity: 1; }
  .products__submit:disabled {
    cursor: default; }
    .products__submit:disabled:hover:before {
      display: none; }

.products__text {
  color: #333; }
  .products__text p {
    line-height: 1; }

/* =/products
---------------------------*/
/* =about
---------------------------*/
.about {
  background: url(../images/about-bg.jpg) no-repeat center top;
  position: relative;
  margin-top: 2rem;
  padding-bottom: 3rem; }
  .about:before {
    background: #02060f;
    height: 500px;
    width: 100%;
    z-index: -1; }
  .about__head {
    color: #fff;
    height: 16rem;
    align-items: center; }
  .about__left {
    font-size: 72px;
    font-size: 7.2rem;
    line-height: 1;
    padding-left: 4rem;
    padding-right: 10rem;
    text-transform: uppercase; }
  .about__right {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.8;
    padding-top: 1rem;
    text-transform: uppercase; }
  .about__content {
    justify-content: space-between;
    margin-top: 1.8rem;
    padding: 0 4.2rem; }
  .about__cell {
    flex-basis: 25%; }
    .about__cell:nth-child(2), .about__cell:nth-child(3), .about__cell:nth-child(4) {
      position: relative;
      left: -14px; }
  .about__pic {
    position: relative; }
  .about__title {
    bottom: 14px;
    color: #fff;
    height: 4rem;
    left: 4px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 258px;
    padding-top: 1rem;
    z-index: 1; }
    .about__title a {
      color: #fff; }
    .about__title:before {
      background-color: #f00;
      height: 100%;
      left: -1px;
      top: 0;
      transform: skew(-10deg);
      width: 258px;
      z-index: -1; }
  .about__text {
    line-height: 1.25;
    min-height: 14.5rem;
    padding-top: 1.2rem;
    width: 25.7rem; }
    .about__text .more {
      margin-top: 1.7rem; }
  .about__subtitle {
    font-size: 15px;
    font-size: 1.5rem;
    color: #0563bf;
    text-transform: uppercase;
    text-align: center; }

/* =/about
---------------------------*/
/* =reviews
---------------------------*/
.reviews {
  background: url(../images/reviews-bg-t.gif) repeat-x left top, url(../images/reviews-bg-b.gif) repeat-x left bottom #f7f7f7;
  min-height: 430px;
  padding-top: 2.2rem; }
  .reviews__title {
    font-size: 15px;
    font-size: 1.5rem;
    color: #0563bf;
    margin-bottom: 5.8rem;
    text-align: center;
    text-transform: uppercase; }
    .reviews__title strong {
      font-size: 72px;
      font-size: 7.2rem;
      line-height: 1;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      position: relative;
      top: .7rem; }
  .reviews__who {
    color: #000;
    margin-bottom: 1rem; }
  .reviews__add {
    margin-top: 2rem; }
  .reviews__item {
    border: 1px solid #0563bf;
    margin-left: auto;
    margin-right: auto;
    padding: 1.8rem 1.8rem 1.2rem;
    width: 82rem;
    position: relative; }
    .reviews__item:before, .reviews__item:after {
      height: 16px;
      width: 16px;
      background: url(../images/review-tl.png) no-repeat left top; }
    .reviews__item:before {
      left: -1px;
      top: -1px; }
    .reviews__item:after {
      right: -1px;
      bottom: -1px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .reviews__content {
    line-height: 1.3; }
  .reviews .owl-nav {
    position: absolute;
    top: 39%;
    left: 50%;
    margin-left: -550px;
    width: 1100px; }
    .reviews .owl-nav .owl-prev, .reviews .owl-nav .owl-next {
      background: url(../images/prevnext.png) no-repeat left top;
      height: 43px;
      position: absolute;
      width: 28px; }
      .reviews .owl-nav .owl-prev.disabled, .reviews .owl-nav .owl-next.disabled {
        opacity: .6; }
    .reviews .owl-nav .owl-next {
      right: 0;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

/* =/reviews
---------------------------*/
/* =info
---------------------------*/
.info {
  padding-bottom: 2.3rem; }
  .info__flexbox {
    justify-content: space-between; }
  .info__icon, .info__title {
    text-align: center; }
  .info__icon {
    margin: 4rem 0 2.3rem; }
  .info__title {
    font-size: 18px;
    font-size: 1.8rem;
    color: #0563bf;
    text-transform: uppercase; }
  .info__content {
    line-height: 1.25;
    margin-top: 1.3rem;
    margin-bottom: 1.6rem; }

.info__cell,
.partners__cell {
  margin-left: .8rem;
  margin-right: .8rem; }
  .info__cell:first-child,
  .partners__cell:first-child {
    margin-left: 0; }
  .info__cell:last-child,
  .partners__cell:last-child {
    margin-right: 0; }

/* =/info
---------------------------*/
/* =manual
---------------------------*/
.manual {
  background: url(../images/manual-bg-t.png) repeat-x left top, url(../images/manual-bg-b.png) repeat-x left bottom #0563bf;
  color: #fff;
  padding: 0 0 2rem; }
  .manual__title, .manual__subtitle {
    text-align: center;
    text-transform: uppercase; }
  .manual__title {
    font-size: 72px;
    font-size: 7.2rem; }
  .manual__subtitle {
    font-size: 18px;
    font-size: 1.8rem; }
  .manual__flexbox {
    justify-content: space-between;
    margin-top: 1rem; }
  .manual__column {
    flex-basis: 48%;
    padding-left: 14px; }
  .manual__item {
    margin-top: 2.8rem; }
    .manual__item-title {
      font-size: 18px;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      text-transform: uppercase; }
    .manual__item p {
      line-height: 1.6; }
    .manual__item li {
      line-height: 1.8; }

/* =/manual
---------------------------*/
/* =partners
---------------------------*/
.partners {
  padding-bottom: 2.6rem; }
  .partners__flexbox {
    justify-content: space-between;
    padding-top: 5.4rem; }
  .partners__pic {
    height: 9rem;
    text-align: center; }
  .partners__text {
    line-height: 1.3;
    padding-bottom: .3rem; }

/* =/partners
---------------------------*/
/* =qorder
---------------------------*/
.qorder {
  background-color: #f7f7f7;
  padding: 2rem 0 1.1rem; }
  .qorder__box {
    padding-top: .1rem; }
  .qorder__text {
    font-size: 15px;
    font-size: 1.5rem;
    color: #808080;
    line-height: 1.2;
    text-align: center; }
  .qorder__form {
    margin-left: auto;
    margin-right: auto;
    padding-top: .2rem;
    padding-bottom: 2rem;
    width: 104rem; }
    .qorder__form-rowflexbox {
      justify-content: space-between; }
    .qorder__form-row {
      margin-top: 1rem; }
    .qorder__form-control {
      border: 1px solid #0563bf;
      margin-right: 2rem;
      padding-left: 1.4rem; }
    .qorder__form input.qorder__form-control {
      height: 3rem;
      padding-bottom: 0;
      padding-top: 0;
      width: 100%; }
      .qorder__form input.qorder__form-control:last-child {
        margin-right: 0; }
    .qorder__form textarea.qorder__form-control {
      width: 90rem;
      height: 6.2rem; }
    .qorder__form .submit {
      cursor: pointer;
      background-color: #0563bf;
      border: none;
      color: #fff;
      flex-grow: 1;
      -webkit-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out; }
      .qorder__form .submit:hover {
        opacity: .8; }
    .qorder__form .policy {
      color: #808080; }
      .qorder__form .policy a {
        color: #0563bf; }
  .qorder__title {
    font-size: 15px;
    font-size: 1.5rem;
    color: #0563bf;
    text-align: center; }
  .qorder .policy {
    margin-top: 1.2rem; }

/* =/qorder
---------------------------*/
/* =map
---------------------------*/
.map {
  height: 435px;
  position: relative; }

.feedback {
  background-color: rgba(255, 255, 255, 0.8);
  left: 50%;
  margin-left: -390px;
  position: absolute;
  bottom: 0;
  width: 785px;
  z-index: 999;
  font-size: 15px;
  font-size: 1.5rem; }
  .feedback .vcard .name {
    display: none; }
  .feedback .vcard .adr {
    margin-bottom: .5rem; }
  .feedback .vcard .tel {
    text-decoration: none;
    margin-right: .5rem; }
  .feedback .vcard .email {
    margin-left: .5rem;
    color: #0563bf; }
  .feedback__content {
    padding: 1rem 0 .8rem; }
  .feedback__form {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem; }
    .feedback__form .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      margin-bottom: 1rem; }
      .feedback__form .row input.form-control,
      .feedback__form .row textarea {
        background-color: #e6e6e6;
        border: 1px solid #e6e6e6;
        padding-left: 1.5rem;
        padding-right: 1.5rem; }
      .feedback__form .row input.form-control {
        height: 3rem;
        width: 245px;
        font-size: 14px;
        font-size: 1.4rem; }
        .feedback__form .row input.form-control::-webkit-input-placeholder {
          color: #000; }
        .feedback__form .row input.form-control::-moz-placeholder {
          color: #000; }
        .feedback__form .row input.form-control:-ms-input-placeholder {
          color: #000; }
        .feedback__form .row input.form-control:focus::-webkit-input-placeholder {
          transition: line-height 0.5s ease; }
        .feedback__form .row input.form-control:focus::-moz-placeholder {
          transition: line-height 0.5s ease; }
        .feedback__form .row input.form-control:focus:-ms-input-placeholder {
          transition: line-height 0.5s ease; }
      .feedback__form .row textarea {
        flex: 1;
        overflow: hidden;
        height: 7rem; }
        .feedback__form .row textarea::-webkit-input-placeholder {
          color: #000; }
        .feedback__form .row textarea::-moz-placeholder {
          color: #000; }
        .feedback__form .row textarea:-ms-input-placeholder {
          color: #000; }
        .feedback__form .row textarea:focus::-webkit-input-placeholder {
          transition: line-height 0.5s ease; }
        .feedback__form .row textarea:focus::-moz-placeholder {
          transition: line-height 0.5s ease; }
        .feedback__form .row textarea:focus:-ms-input-placeholder {
          transition: line-height 0.5s ease; }
      .feedback__form .row .error {
        border: 1px solid red !important; }
      .feedback__form .row .submit {
        -webkit-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
        border: none;
        color: #fff;
        cursor: pointer;
        margin-left: 1.8rem;
        text-decoration: none;
        text-transform: lowercase;
        width: 12rem;
        background-color: #218ee0; }
        .feedback__form .row .submit:hover {
          opacity: .9; }

/* =/map
---------------------------*/
.works {
  position: relative;
  padding-bottom: 2rem; }
  .works .works__title {
    font-size: 24px;
    font-size: 2.4rem;
    color: #0563bf;
    padding: 1.4rem 0 0;
    text-align: center; }
  .works:after {
    border-bottom: 1px solid #d5d5d5;
    left: 50%;
    width: 30%;
    margin-left: -15%;
    bottom: 0; }

.share {
  padding-top: 3.5rem;
  padding-bottom: 2.1rem; }

/* =footer
---------------------------*/
footer {
  background: url(../images/footer-bg.png) no-repeat center bottom #e6e6e6;
  padding: 1rem 0 .2rem;
  font-style: italic; }

.footer__menu {
  display: flex;
  align-items: center;
  flex-basis: 420px; }
  .footer__menu ul {
    padding-right: 3rem; }
    .footer__menu ul li {
      margin-top: .8rem; }
      .footer__menu ul li a {
        color: #808080; }
        .footer__menu ul li a:hover {
          color: #0563bf; }

.footer__center {
  flex-basis: 415px; }
  .footer__center a {
    color: #0563bf; }

.footer__right {
  flex-grow: 1; }
  .footer__right a {
    color: #0563bf; }

.footer__social {
  color: #808080;
  font-style: normal;
  font-weight: bold;
  padding-top: 1rem; }
  .footer__social-icons {
    padding-top: 1rem; }
    .footer__social-icons a {
      opacity: .5;
      -webkit-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out; }
      .footer__social-icons a:hover {
        opacity: 1; }

.footer__copyright {
  margin-top: -1.6rem; }

.footer__kreotif {
  line-height: 1;
  padding-top: 1.7rem; }

/* =/footer
---------------------------*/
.user-access + label {
  cursor: pointer; }

.user-access:not(checked) {
  position: absolute;
  opacity: 0; }

.user-access:not(checked) + label {
  position: relative;
  /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 40px;
  /* оставляем слева от label место под псевдочекбокс */ }

/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #808080; }

/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
  border-color: #0563bf; }

/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
  content: '*';
  position: absolute;
  top: -5px;
  left: 7px;
  width: 22px;
  height: 22px;
  font-size: 30px; }

/* Показываем получение фокуса. */
input.submit:disabled {
  background: rgba(128, 128, 128, 0.3) !important;
  cursor: default; }
  input.submit:disabled:hover {
    opacity: 1 !important; }

.form-control,
textarea {
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out; }

.addreview .modal-dialog {
  padding-bottom: 2.5rem; }

.addreview .modal__text {
  background-color: #fff;
  border: 1px solid #0563bf;
  padding: 1rem; }
  .addreview .modal__text .title {
    padding-bottom: .7rem; }

.addreview__msg {
  border: none;
  font-family: "SegoeUIRegular";
  height: 14rem;
  margin-top: 0;
  resize: none;
  width: 100%; }

.addreview .submit {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  background-color: #0563bf;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 2rem auto 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase; }
  .addreview .submit:hover {
    opacity: .85; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
  overflow: hidden;
  outline: 0; }
  .modal.fade .modal-dialog {
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    transform: translate(0, -25%); }
  .modal.show .modal-dialog {
    transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  background-color: #f7f7f7;
  position: relative;
  width: auto;
  top: 12%;
  padding-top: 40px;
  padding-bottom: 40px; }
  .modal-dialog .container {
    position: relative; }
  .modal-dialog .close-modal {
    top: -36px;
    right: -6px; }
  .modal-dialog .title {
    font-size: 18px;
    font-size: 1.8rem;
    color: #218ee0;
    font-size: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 1rem; }

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1071;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0; }
  .modal-backdrop.show {
    opacity: .5 !important; }

.modal-body {
  position: relative;
  flex: 1 1 auto; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

.close-modal {
  background: none;
  border: none;
  color: #333;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  cursor: pointer; }
  .close-modal:hover span {
    text-decoration: underline; }
  .close-modal span {
    color: #0563bf; }

#callback .modal-dialog {
  margin-left: 0;
  margin-right: 0;
  margin-top: 98px;
  padding: 40px 0 12px;
  width: 100%; }

#callback form .flexbox .form-control {
  font-size: 36px;
  font-size: 3.6rem;
  border: 1px solid #218ee0;
  color: #808080;
  flex-grow: 1;
  text-align: center; }

#callback form .flexbox .submit {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #218ee0;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 62px;
  margin-left: 1.8rem;
  padding-left: 8px;
  padding-right: 8px; }
  #callback form .flexbox .submit:hover {
    opacity: .9; }

#callback form .policy {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #808080; }
  #callback form .policy a {
    color: #0563bf; }

#about .modal__content {
  background-color: #fff;
  border: 1px solid #0563bf;
  color: #808080;
  line-height: 1.7;
  padding: 2rem 1.5rem; }
  #about .modal__content .title {
    padding-bottom: .5rem;
    text-transform: uppercase; }

.nav {
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block; }

.nav-tabs .nav-link.disabled {
  background-color: transparent;
  border-color: transparent; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: flex; }

.fade {
  opacity: 0;
  transition: all opacity .15s linear; }
  .fade.show {
    opacity: 1; }

/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu {
  display: none; }

/* =/mobile-menu
---------------------------*/
@media (max-width: 767px) {
  .navbar-toggle {
    background-color: green;
    border: none;
    cursor: pointer;
    display: block;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
    .navbar-toggle .icon-bar {
      background-color: #fff;
      display: block;
      height: 2px;
      margin: 8px auto;
      width: 30px; }
    .navbar-toggle:hover {
      background-color: #fff; }
      .navbar-toggle:hover .icon-bar {
        background-color: green; }
  .o-menu .close-menu {
    display: block;
    transform: translate(0, 0); }
  .o-menu #navbar {
    display: block;
    transform: translate(-15px, 0);
    z-index: 9999; }
  .close-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block;
    transform: translate(-320px, 0);
    background: none;
    cursor: pointer;
    padding: 0;
    left: 215px;
    background-color: green;
    border: none;
    height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
  #navbar {
    transition: all .2s ease-out;
    background-color: green;
    color: green;
    display: block;
    left: 0;
    padding-top: 15px;
    position: absolute;
    top: 0;
    transform: translate(-305px, 0);
    width: 230px; }
    #navbar .container {
      padding: 0; }
    #navbar ul.mainnav {
      background: none;
      display: block;
      font-size: 15px;
      margin-top: 0;
      padding-left: 15px; }
      #navbar ul.mainnav ul {
        position: static;
        opacity: 1;
        background: none;
        font-size: 14px !important; }
        #navbar ul.mainnav ul li:after {
          top: 12px; }
      #navbar ul.mainnav > li.folder > a:after,
      #navbar ul.mainnav > li.folder > span:after {
        top: 24px !important; }
      #navbar ul.mainnav > li.active > a {
        text-decoration: underline; }
      #navbar ul.mainnav li {
        border-bottom: 1px solid #fff; }
        #navbar ul.mainnav li a, #navbar ul.mainnav li span {
          color: #fff;
          display: block;
          height: auto;
          line-height: normal;
          padding: 18px 0 18px 10px;
          text-decoration: none;
          text-transform: none; }
          #navbar ul.mainnav li a:hover, #navbar ul.mainnav li span:hover {
            color: #fff;
            text-decoration: underline; }
        #navbar ul.mainnav li.active, #navbar ul.mainnav li:hover {
          border-bottom: 1px solid #fff;
          color: #fff; }
          #navbar ul.mainnav li.active a, #navbar ul.mainnav li.active span, #navbar ul.mainnav li:hover a, #navbar ul.mainnav li:hover span {
            background: none; }
        #navbar ul.mainnav li.folder > a,
        #navbar ul.mainnav li.folder > span {
          position: relative; }
          #navbar ul.mainnav li.folder > a:after,
          #navbar ul.mainnav li.folder > span:after {
            background: url(../images/arrow.png) no-repeat left bottom;
            content: "";
            display: block;
            height: 12px;
            position: absolute;
            right: 10px;
            top: 9px;
            width: 8px; }
        #navbar ul.mainnav li.folder ul.show {
          display: block; }
        #navbar ul.mainnav li.folder.open > a:after,
        #navbar ul.mainnav li.folder.open > span:after {
          background-position: left top;
          width: 12px;
          height: 8px; }
        #navbar ul.mainnav li.folder .folder {
          padding-left: .5rem;
          padding-right: 0; }
          #navbar ul.mainnav li.folder .folder > a:after,
          #navbar ul.mainnav li.folder .folder > span:after {
            display: none; }
          #navbar ul.mainnav li.folder .folder li ul li {
            position: relative; }
            #navbar ul.mainnav li.folder .folder li ul li a:before {
              content: "-";
              z-index: 10;
              position: absolute;
              left: 4px;
              top: 8px; }
          #navbar ul.mainnav li.folder .folder li ul.folder > ul {
            display: none !important; }
        #navbar ul.mainnav li.active a:hover {
          color: #fff; }
        #navbar ul.mainnav li.active > ul {
          display: block; }
          #navbar ul.mainnav li.active > ul .active .active a {
            font-weight: bold;
            text-decoration: underline; }
        #navbar ul.mainnav li ul {
          display: none;
          font-size: 12px;
          width: auto !important;
          border-top: none; }
          #navbar ul.mainnav li ul li {
            border-bottom: none;
            padding-left: 7px; }
            #navbar ul.mainnav li ul li a, #navbar ul.mainnav li ul li span {
              padding: 10px 0 10px 10px; }
            #navbar ul.mainnav li ul li.active, #navbar ul.mainnav li ul li:hover {
              border-bottom: none;
              color: green; }
            #navbar ul.mainnav li ul li ul {
              padding-top: 0; }
              #navbar ul.mainnav li ul li ul li {
                padding-right: 0; }
                #navbar ul.mainnav li ul li ul li:hover {
                  background: none; }
                #navbar ul.mainnav li ul li ul li.folder.active > a {
                  text-decoration: underline; }
                #navbar ul.mainnav li ul li ul li ul li.active a {
                  text-decoration: underline; } }

::-ms-clear {
  display: none; }
